<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">All about the journey behind this app.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>28th March 2020</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first discussion for goal and features was done, 
                                        that laid down the planing phase of the app. 
                                        That, later, took form of the design plans and development of the app iteself
                                         into basic main screen prototype.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3rd April 2020</h4>
                                    <h4 class="subheading">Integration and review changes begun!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Integration of individual Screens started.
                                        Icons, vector art modifictions initialized as per reviews was taken as immediate step, 
                                        meanwhile proceeding with development activites.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20th April 2020</h4>
                                    <h4 class="subheading">Transition to Full Features</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Added the connection to actual files and content for access via app,
                                        along with animated graphics for enhancing User Experience of the app.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>9 May 2020</h4>
                                    <h4 class="subheading">Phase Two - Testing, Debugging, Finishing Touches</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Content enhancements, resolving issues from testing team,
                                         enhancing graphics and user flows, and many more!
                                         privacy policy writing and branding and landing page development going in parallel!...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>